.container {
	padding: 5%; 
}
.jumbotron {
	background-color: #e5f4ff;
}

/* Align bullet points left */

ul {
 	padding-left: 0;   
 	font-weight: 200;
}
ul li {
 	list-style-position: inside;
}

/* Text formatting */

.row {
	vertical-align: center;
}

hr {
	margin-top: 0px;
}

.jumbotron p {
	font-size: 14px;
}

.jumbotron .bold {
	font-weight: bold;
}

.jumbotron #title {
	font-size: 50px;
	font-weight: bold;
}